  #productlist {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        /* font-family: Arial, Helvetica, sans-serif; */
    }
    #productlist li{
        width:200px;
        list-style: none;
        padding:10px;
        margin:20px
    }
    #productlist li img{
        width:200px;
        height: 200px;
    }
    .header ul{
        display:flex;
        /* border:2px solid; */
        border-radius: 10px;
        height:50px;
        margin:20px;
        margin-top: 0;
        align-items: center;
        background-color: lightseagreen;
        justify-content: space-evenly;
        
    }
    .header ul li{
        list-style: none;
        padding:50px;
        font-size: larger;
    }
    .banner{
        margin:50px;
        border-radius: 10px;
        padding:50px;
        background-color:rgb(189, 190, 190);     
    }
    .banner h1{
        font-size:4em;     
    }
    
    .course ul{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding:20px;
        margin:20px;
    }
    .course h1{
        margin-left:30px
    }
    .course li{
        border:2px solid;
        list-style: none;
        padding:20px;
        margin:50px;
        border-radius: 10px;
        width:250px;
        height:200px;
        background-color: lightslategrey;

    }